includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    level: max
    treatPhpDocTypesAsCertain: false
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        - '#Trait .+ is used zero times and is not analysed#'
        - '#Cannot cast mixed to (string|int)#'
